<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this person from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group mb-3">
  <%= f.label :name, class: "mb-2" %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group mb-3">
    <%= f.label :category_id, class: "mb-2" %>
    <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] }, {}, class: "form-control" %>
</div>

<div class="form-group mb-3">
    <%= f.label :status %>
    <% Event::STATUS.each do |status| %>
        <div class="form-check form-check-inline">
            <%= f.radio_button :status, status, class: "form-check-input" %>
            <%= t(status, scope: "event.status") %>
        </div>
    <% end %>
</div>

<div class="form-group mb-3">
  <%= f.label :description, class: "mb-2" %>
  <%= f.text_area :description, :class => "form-control" %>
</div>

<%= f.nested_fields_for :tickets do |ff| %>
  <fieldset style="border-left: 5px solid #bbb; margin-bottom: 10px; padding: 10px;">
    <legend>Ticket</legend>
    <div class="form-group">
      <%= ff.label :name %>
      <%= ff.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= ff.label :price %>
      <%= ff.number_field :price, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= ff.label :description %>
      <%= ff.text_area :description, :class => "form-control" %>
    </div>
  </fieldset>
  <%= ff.remove_nested_fields_link "移除这个票种", class: "btn btn-danger" %>
<% end %>
<p class="text-end">
    <%= f.add_nested_fields_link :tickets, "新增票种", class: "btn btn-light" %>
</p>

<script>
    $( document ).ready(function() {
        $("#event_category_id").select2( {theme: "bootstrap"} );
    });
</script>